h1{

  text-align: center;
  border:2px DarkOrchid;
  <h1 style="background-color:#14144c;">...</h1>
  color: Bisque;
  font-family:Copperplate, Papyrus, Fantasy;
  <p style="background-image: url('https://i.pinimg.com/736x/98/7f/ba/987fba555a43f2a013dc8f468ce2acbf.jpg');">
    p {
  background-image: url('https://i.pinimg.com/736x/98/7f/ba/987fba555a43f2a013dc8f468ce2acbf.jpg');
}

}
